<!DOCTYPE html>
<!-- This website template is created by: Dang Quoc Anh -->
<html lang="en">
<head>
  <link rel="stylesheet" href="css/styles.css">
  <title>Web Marketing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <<link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>

    <div id ="container">

    <!-- Use the header area for the website name or logo -->
    <header>
        <a href="Logo.html"><img src="images/logo1.jpg"  alt="DedS3c logo"></a>
    </header>

    <!-- Use the navigation area to add hyperlink to other pages within the website -->
    <nav>
      <ul>
      <li><a href="Logo.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="booking.html">Booking</a> </li>
      <li><a href="Contact.html">Contact us</a></li>
      </ul>
    </nav>

    <!-- Use the main area to add main content of the webpage  -->
    <main>
    </main>

    <!-- Use the footer area to add webpage footer content -->
    <footer>

      <div id="Copyright">
      <p>&copy; Copyright 2019. All right Reserved .<br>
      <a href="mailto:gioan.n02@club.net">forwardfitness@club.net</a></p>
    </div>

    <div id="social">
      <p>Connect with us:</p>
      <p><a href="https://www.facebook.com/profile.php?id=100005967604882"><img src="images/fb.png" alt="Facebook logo"></a>
        <a href="https://twitter.com/?lang=en"><img src="images/twitter.jpg" alt="Twitter logo"></a></p>
    </div>
    </footer>

  </div>

</body>
</html>
